## List

In [3]:
list1 = ['item1','item2','item3']

print(list1)
print(list1[1])

['item1', 'item2', 'item3']
item2

In [7]:
list2 = ['itme1','itme10','item1']
print(list2)
print(list2[0])
print(list2[1])

['itme1', 'itme10', 'item1']
itme1
itme10

In [8]:
name = ['ram','raj','ananad','udhay']

print(len(name))

4

In [13]:
list3 = ['suraj',10,'viswakarma',20]
print(list3)
print(type(list3))

['suraj', 10, 'viswakarma', 20]
<class 'list'>

In [15]:
list9 = list(('suraj',10,15,'hey!'))
print(list9)

['suraj', 10, 15, 'hey!']

In [41]:
numlist = [10,20,30,40,50,60,70,80,90,100]
print(numlist[0:4])
print(numlist[:])
print(numlist[::])
print(numlist[0:10])
print(numlist[:5])
print(numlist[5:10])
print(numlist[-4:-1])

[10, 20, 30, 40]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50]
[60, 70, 80, 90, 100]
[70, 80, 90]

In [43]:
NameList = ['Del','BOM', 'MAA', 'ATQ', 'PNQ', 'GAU', 'IXL', 'IXM', 'HYD']

if 'Del' in NameList:
    print("Hey I got the \"Del\" ")

Hey I got the "Del"

In [44]:
NameList = ['Del','BOM', 'MAA', 'ATQ', 'PNQ', 'GAU', 'IXL', 'IXM', 'HYD']

NameList[0] = 'DEL'

print(NameList)

['DEL', 'BOM', 'MAA', 'ATQ', 'PNQ', 'GAU', 'IXL', 'IXM', 'HYD']

In [47]:
NameList = ['Del','BOM', 'MAA', 'ATQ', 'PNQ', 'GAU', 'IXL', 'IXM', 'HYD']

NameList[0:1] = ['ODI','ROU']
NameList[0:3] = ['ODI','ROU']

print(NameList)
print(NameList)

['ODI', 'ROU', 'MAA', 'ATQ', 'PNQ', 'GAU', 'IXL', 'IXM', 'HYD']
['ODI', 'ROU', 'MAA', 'ATQ', 'PNQ', 'GAU', 'IXL', 'IXM', 'HYD']

In [51]:
List10 = [10,20,30]

List10.insert(0,50)

print(List10)

[50, 10, 20, 30]

In [53]:
lista = []

lista.append('suraj')

print(lista)

['suraj']

In [58]:
list1 = [1,2,3]
list2 = ['suraj']

list1.extend(list2)

print(list1)

[1, 2, 3, 'suraj']

In [59]:
list1 = [1,2,3]
set1 = (1,2,3)

list1.extend(set1)

print(list1)

[1, 2, 3, 1, 2, 3]

In [60]:
list1 = [10,20]
dict1 = {"name":"suraj"}

list1.extend(dict1)

print(list1)

[10, 20, 'name']

In [66]:
List1 = list(range(1,10))

print(List1)

print(List1.pop(1))

List1.remove(5)

print(List1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
2
[1, 3, 4, 6, 7, 8, 9]

In [68]:
list45 = list(range(10,100))
print(list45)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [70]:
list45.clear()

print(list45)

[]

In [72]:
list45 = list(range(10,100))
#print(list45)

del list45[10]

print(list45)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [74]:
List9 = list(range(1,10))
print(List9)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
for x in List9:
    print (x)

1
2
3
4
5
6
7
8
9

In [78]:
listone = []

listtwo = list(range(1,10))

for y in listtwo:
    listone.append(y)
    
print(listone)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
lista = ['suraj','ram','prasad','kumar']

for y in lista:
    print(len(y))

5
3
6
5

In [19]:
listabc = list(range(1,10))

print(listabc)

for z in listabc:
    if z >= 9:
        print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9

In [21]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [28]:
listo = list(range(1,10))
listp = list(range(11,20))
listm = ['banana','kela']

print(listo)

listm.sort()
listo.sort(reverse= True)

listcopy = listm.copy()

print(listcopy)

print(listo)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['banana', 'kela']
[9, 8, 7, 6, 5, 4, 3, 2, 1]

# Note

### There are four collection data types in the Python programming language:

#### List is a collection which is ordered and changeable. Allows duplicate members.
#### Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#### Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#### Dictionary is a collection which is ordered** and changeable. No duplicate members.