## Tuples

In [1]:
tup1 =  tuple(range(1,10))

print(tup1)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
print(len(tup1))

9

In [3]:
print(tup1.count(8))

1

In [4]:
print(type(tup1))

<class 'tuple'>

In [5]:
print(tup1[0])

1

In [24]:
for i in range(0,9):
    print("Tuple",i,":", tup1[i])

Tuple 0 : 1
Tuple 1 : 2
Tuple 2 : 3
Tuple 3 : 4
Tuple 4 : 5
Tuple 5 : 6
Tuple 6 : 7
Tuple 7 : 8
Tuple 8 : 9

In [25]:
print(tup1[0:5])

(1, 2, 3, 4, 5)

In [27]:
print(tup1[5:10])

(6, 7, 8, 9)

In [28]:
listcheck = [1,2,32]

for x in listcheck:
    if x in tup1:
        print(x)

1
2

##### We can convert the tuple into list and then we can perform the addition, removal etc from a tuple